<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div class="row">
        <md-card ng-repeat="post in posts track by $index" class="col col-sm-3 md-card" >
            <a href="#/post/{{$index}}">
                <img ng-src="/uploads/{{post.sub_imgs[0].image}}" class="md-card-image" alt="Washed Out">
            </a>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{post.name}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p>
                    {{post.context}}
                </p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button><a href="#/post/{{$index}}">Go detail</a></md-button>
                <md-button><a href="#/mypage" class="btn btn-primary">Buy Now!</a></md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

