<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div class="row">
        <md-card ng-repeat="post in posts" class="col col-md-4 col-sm-6 col-lg-3 md-card">
            <img ng-src="{{post.image}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{post.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    {{post.context}}
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

