<md-content ng-controller="NewPostCtrl" layout-padding>
    <form ng-upload="uploadComplete">
        <md-input-container>
            <label>Title input</label>
            <input type="text" id="title"
                   ng-model="title" md-autofocus>
        </md-input-container>

        <md-input-container class="row col-md-12">
            <label>TextArea input</label>
                    <textarea type="text" id="context"
                              ng-model="context"></textarea>
        </md-input-container>

        <div class="row">
            <md-input-container class="col-md-6 col-sm-6">
                <input type="file" id="photo"
                       ng-model="photo" ngf-select file-model="file">
            </md-input-container>
            <md-button class="md-primary md-raised col-sm-2" ng-click="AddNewPost($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">
                Add images
            </md-button>
            <md-button class="md-primary md-raised col-sm-2" ng-click="upload()" flex-sm="100" flex-md="100" flex-gt-md="auto">
                Upload
            </md-button>

        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 md-card">
                <img width="300" ngf-thumbnail="photo">
            </div>


            <div ng-repeat="sub_file in sub_files track by $index" class="row col-md-3 col-sm-6 md-card">
                <img width="250" ng-src="{{sub_file.src}}">
            </div>

        </div>



    </form>
</md-content>
