<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select Image</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">

                    <div ngf-drop ng-model="photo" ngf-pattern="image/*"
                         class="cropArea col-sm-6">
                        <img-crop image="photo  | ngfDataUrl"
                                  result-image="croppedDataUrl" ng-init="croppedDataUrl=''"
                                  change-on-fly="true" area-type="square">
                        </img-crop>
                    </div>
                    <div class="col-sm-6">
                        <img id="cropped_image" ng-src="{{croppedDataUrl}}" />
                    </div>

                </div>

                <md-input-container>
                    <label>Tag</label>
                    <input type="text" ng-model="tag">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ngf-select ng-model="photo" accept="image/*" class="md-icon-button">
                Select</md-button>
            <md-button ng-click="Addd()">
                Enter
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>



