<div class="post-detail">


    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <div class="row">
            <img src="http://placehold.it/800x500" alt="" class=" col-md-8 col-sm-8">
            <div  class="text-center col-md-4 col-sm-4">
                <h2>
                Title
                </h2>
                <p>detail</p>
            </div>
            </div>
            <p>
                <a href="#" class="btn btn-primary">Buy All!</a>
            </p>


        </header>



        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Details</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h4>#Tag</h4>
                        <p>text</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h4>#Tag</h4>
                        <p>text</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h4>#Tag</h4>
                        <p>text</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        </div>


        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Mono 2015</p>
                </div>
            </div>
        </footer>

    </div>
</div>