<div class="post-detail">

    ​

    <!-- Page Content -->
    <div class="container">
        ​
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <div class="row">
                <img src="/uploads/{{thisPost.sub_imgs[0].image}}" alt="" class=" col-md-8 col-sm-8">
                <div  class="text-center col-md-4 col-sm-4">
                    <h2>
                        {{thisPost.name}}
                    </h2>
                    <p>{{thisPost.context}}</p>
                </div>

            </div>
            <p>
                <a href="#" class="btn btn-primary">Buy All!</a>
            </p>

            ​
            ​
        </header>
        ​
        ​
        ​
        <hr>
        ​

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Details</h3>
            </div>
        </div>
        <!-- /.row -->

        ​
        <!-- Page Features -->
        <div class="row text-center">
            ​
            <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="subImg in thisPost.sub_imgs track by $index" ng-show="$index!=0">
                <div class="thumbnail">
                    <img src="/uploads/{{subImg.image}}" alt="">
                    <div class="caption">
                        <h4>#Tag</h4>
                        <p>{{subImg.tag}}</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        ​
        ​
    </div>
    ​
    ​
    <!-- /.row -->
    ​
    <hr>
    ​
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Mono 2015</p>
            </div>
        </div>
    </footer>
    ​
</div>
</div>

