/**
 * Created by Cheol on 2015. 11. 28..
 */

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:400px;
    height:400px;
}
#cropped_image{
    width:400px;
    height:400px;
}
.md-card{
    float: left;
}
.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
#sideBar{
    background-color: #ffeeff;
    position: fixed;
    right: 0;
}
#addButton{
    position: fixed;
    bottom: 0;
    right: 0;
}
body .mypagecontainer .row img {
    height:250px;
    text-align: center;
}
​
body .mypagecontainer .row p {
    font-size: 50px;
    text-align: center;
}
​
.loginform {
    margin-right: 10px;
}
